@font-face{
  src: url(./assets/fonts/Eina01-Regular.ttf);
  font-family: eina-regular;
}
@font-face{
  src: url(./assets/fonts/Eina01-Bold.ttf);
  font-family: eina-bold;
}
@font-face{
  src: url(./assets/fonts/Eina02-BoldItalic.ttf);
  font-family: eina-bold-italic;
}

@font-face{
  src: url(./assets/fonts/Eina01-SemiBold.ttf);
  font-family: eina-semi-bold;
}

body {
  margin: 0;
  padding: 0;
  font-family:eina-semi-bold;
}

